/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.added {
  color: #0000ff;
}

.completed {
  color: #00dd00;
}

.planned {
  color: #00ddff;
}

.table {
  width: 50%;
}

.column-name {
  width: 10%;
}

.hide {
  /* visibility: hidden; */
  display: none;
}

.show-hide-buttons {
  width: 50%;
  justify-content: space-between;
}