.added {
  color: #0000ff;
}

.completed {
  color: #00dd00;
}

.planned {
  color: #00ddff;
}

.table {
  width: 100%;
}

.column-name {
  width: 10%;
}

.hide {
  /* visibility: hidden; */
  display: none;
}

.show-hide-buttons {
  width: 50%;
  justify-content: space-between;
  position: fixed;
  background-color: #5f5fa7;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0000ff;
  color: #ffff00;
  /* opacity: 0.5; */
}

.left {
  float: left;
  top: 5rem;
  width: 50%;
}

.right {
  position: fixed;
  transform: translateX(100%);
  width: 50%;
}